.footer
{
 
    overflow: hidden;
    position: sticky;
    top: 100%;
    background-color:tan;
    padding: 20px 10px ;
}

h1
{
    color: brown;
    font-size: 30px;
    font: bold;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
p
{
    color: darkred;
    text-decoration: double;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}
i
{
    padding : 0px 16px;
    color: darkgoldenrod;
}
i:hover
{
    color: black;
}