*{
    padding: 5px;
    background-color: rgb(93, 92, 138);
}
.active-link    
{
    color: var(--secondary-color);
}
.active-link{
    color: var(--primary-color);
    background-color: rgb(170, 116, 77);
    text-decoration: underline;
}
.btn{
    background-color: rgb(170, 116, 77);
    color: var(--secondary-color);

}
.form-control{
    background-color: #fff;
}
.nav-item{
    border: black;
    color: aquamarine;
}
.nav-link{
    background-color: rgb(170, 116, 77);
}