<div class="container">
    <div class="row mb-6 mt-4">
        <form>
            <p>
                <input type="text" class="form-control" 
                placeholder="Username"/>
            </p>
        </form>
    </div>
</div>

<div class="container">
  <div class="row mb-6 mt-4">
        <form>
            <p>
                <input type="password" name="password" class="form-control" 
                placeholder="Password"/>
            </p>
        </form>
    </div>
</div>
<div class="container">
  <button class="btn btn-md btn-dark mt-3">Sign up now</button>
</div>
